<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AdiumSetVersion</key>
	<integer>1</integer>
	<key>Emoticons</key>
	<dict>
		<key>Angry.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>&gt;=[</string>
				<string>&gt;=(</string>
				<string>&gt;:-(</string>
				<string>&gt;:(</string>
				<string>&gt;:[</string>
				<string>:angry:</string>
			</array>
			<key>Name</key>
			<string>Angry</string>
		</dict>
		<key>Confused.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>=S</string>
				<string>:S</string>
				<string>:-S</string>
				<string>:s</string>
				<string>:-s</string>
				<string>\=|</string>
				<string>\:-(</string>
				<string>:confused:</string>
			</array>
			<key>Name</key>
			<string>Confused</string>
		</dict>
		<key>Halo.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>0=]</string>
				<string>0:-)</string>
				<string>0:)</string>
				<string>O=]</string>
				<string>O=)</string>
				<string>0=)</string>
				<string>O:-)</string>
				<string>o=]</string>
				<string>o=)</string>
				<string>o:-)</string>
				<string>o:)</string>
				<string>:halo:</string>
			</array>
			<key>Name</key>
			<string>Halo</string>
		</dict>
		<key>Kiss.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>=*</string>
				<string>:-*</string>
				<string>:*</string>
				<string>:kiss:</string>
			</array>
			<key>Name</key>
			<string>Kiss</string>
		</dict>
		<key>Sick.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>=@</string>
				<string>=[[[</string>
				<string>:@</string>
				<string>:-@</string>
				<string>:-[[[</string>
				<string>:[[[</string>
				<string>:sick:</string>
			</array>
			<key>Name</key>
			<string>Sick</string>
		</dict>
		<key>Money.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>=$</string>
				<string>:$</string>
				<string>:-$</string>
				<string>:money:</string>
			</array>
			<key>Name</key>
			<string>Money</string>
		</dict>
		<key>Turtle.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>o]@[&gt;</string>
				<string>o}@{&gt;</string>
				<string>o]@[-</string>
				<string>o}@{-</string>
				<string>:turtle:</string>
			</array>
			<key>Name</key>
			<string>Turtle</string>
		</dict>
		<key>Sealed.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>=X</string>
				<string>:X</string>
				<string>:-X</string>
				<string>:x</string>
				<string>:-x</string>
				<string>=x</string>
				<string>:sealed:</string>
			</array>
			<key>Name</key>
			<string>Sealed</string>
		</dict>
		<key>Cool.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>8-)</string>
				<string>B-)</string>
				<string>B]</string>
				<string>B-]</string>
				<string>B)</string>
				<string>8)</string>
				<string>:cool:</string>
			</array>
			<key>Name</key>
			<string>Cool</string>
		</dict>
		<key>Crying.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>=&apos;[</string>
				<string>=*[</string>
				<string>:*(</string>
				<string>:&apos;(</string>
				<string>:*-(</string>
				<string>:*[</string>
				<string>:&apos;-(</string>
				<string>:crying:</string>
			</array>
			<key>Name</key>
			<string>Crying</string>
		</dict>
		<key>Frown.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>=[</string>
				<string>:-(</string>
				<string>:(</string>
				<string>:[</string>
				<string>:-[</string>
				<string>:frown:</string>
			</array>
			<key>Name</key>
			<string>Frown</string>
		</dict>
		<key>Gasp.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>=o</string>
				<string>=O</string>
				<string>:o</string>
				<string>:O</string>
				<string>:-O</string>
				<string>:-o</string>
				<string>:gasp:</string>
			</array>
			<key>Name</key>
			<string>Gasp</string>
		</dict>
		<key>Grin.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>=D</string>
				<string>:-D</string>
				<string>:D</string>
				<string>:grin:</string>
			</array>
			<key>Name</key>
			<string>Grin</string>
		</dict>
		<key>Heart.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>&lt;3</string>
				<string>:heart:</string>
			</array>
			<key>Name</key>
			<string>Heart</string>
		</dict>
		<key>Smile.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>=)</string>
				<string>=]</string>
				<string>:-)</string>
				<string>:)</string>
				<string>^_^</string>
				<string>:smile:</string>
			</array>
			<key>Name</key>
			<string>Smile</string>
		</dict>
		<key>Tongue.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>=p</string>
				<string>=P</string>
				<string>:P</string>
				<string>:-p</string>
				<string>:-P</string>
				<string>:p</string>
				<string>:tongue:</string>
			</array>
			<key>Name</key>
			<string>Tongue</string>
		</dict>
		<key>Wink.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>;-]</string>
				<string>;]</string>
				<string>;-)</string>
				<string>;)</string>
				<string>^_-</string>
				<string>:wink:</string>
			</array>
			<key>Name</key>
			<string>Wink</string>
		</dict>
	</dict>
</dict>
</plist>
